<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  {% include "partials/head.njk" %}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCXBBL2M"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include "partials/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
  <script src="/assets/js/main.js" defer></script>
</body>
</html>
